<html>
<head>
<title>Dropdown Menu</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.js"></script>
</head>
<body ng-app="Ngdropdown">
<h1>plugin works</h1>
<div ng-controller="mainCtrl">

    <input type="text" ng-model="name" />
    <input type="text" ng-model="name" />

   <p>{{name}}</p>

</div>
<script>
var app = angular.module('Ngdropdown',[]);
app.controller("mainCtrl",function($scope){
    $scope.title = "Hi OSama";
})

</script>
</body>
</html>